body{
   background-color: #d3e2f1;
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
}
i{
   font-size: 24px;
   color: var(--light);
}
a{
   font-family: 'Roboto', sans-serif;
   text-decoration: none;
   -webkit-transition: all 0.2s ease;;
   -moz-transition: all 0.2s ease;;
   -o-transition: all 0.2s ease;;
   transition: all 0.2s ease;
}
li{
   list-style-type: none;
}
textarea:focus, input:focus{
   outline: 1px solid rgb(207, 207, 207);
}
:root {
   --light: #f6f8fa;
   --dark:  #202020;
   --orange:  #fdab11;
   --blue: #383CC1;
   --darkblue: #161cb1;
   --aqua: #35BDD0;
 }


/* main styles */

.navbar i{
   -webkit-transition: all 0.2s ease;;
   -moz-transition: all 0.2s ease;;
   -o-transition: all 0.2s ease;;
   transition: all 0.2s ease;
}
.navbar a:hover, .navbar i:hover{
   color: var(--orange);
}
.navbar{
   background-color: var(--blue);
   display: block;
   padding: 14px 0;
   color: var(--light);
}
.navbar a{
   color: var(--light);
   margin-right: 20px;
}
.nav-inside{
   justify-content: space-between;
   align-items: center;
   max-width: 95%;
   margin: 0 auto;
   display: flex;
}
.nav-inside h2{
   margin: 0;
   margin-right: 24px;
}
.navbar .nav-left{
   align-items: baseline;
   display: flex;
}
.navbar .nav-right{
   align-items: baseline;
   display: flex;
}
.navbar .mobile-menu-button{
   display: none;
}
.wrapper{
   max-width: 1920px;
   margin: 0 auto;
}
.wrapper h2{
   font-size: 28px;
   margin-top: 40px;
   margin-bottom: 10px;
   text-align: center;
}


/* SLIDER */

.slider{
   display: block;
   position: relative;
   overflow: hidden;
}
.slider-line{
   display: flex;
   transition: all 1s ease;
}
.slider .slider-line .slide{
   max-width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
.slider .slider-line .slide img{
   min-width: 100%;
   height: auto;
}
.slider .slider-absolute{
   position: absolute;
   top: 7%;
   left: 7%;
}
.slider .slider-buttons{
   position: absolute;
   bottom: 5%;
   right: 5%;
}
.slider .slider-buttons a{
   font-size: 50px;
   -webkit-transition: all 0.2s ease;;
   -moz-transition: all 0.2s ease;;
   -o-transition: all 0.2s ease;;
   transition: all 0.2s ease;
}
.slider .slider-buttons a:hover{
   color: var(--orange);
}
.slider-catalog-button{
   -webkit-transition: all 0.2s ease;;
   -moz-transition: all 0.2s ease;;
   -o-transition: all 0.2s ease;;
   transition: all 0.2s ease;
   padding: 14px 18px;
   background-color: var(--blue);
   color: var(--light);
   border: 3px solid var(--darkblue);
}
.slider-catalog-button:hover{
   color: var(--orange);
   background-color: var(--darkblue);
}


/* POPULAR and NEW */

.section{
   padding-top: 20px;
   padding-bottom: 60px;
}
.section h2{
   font-size: 28px;
   margin-top: 40px;
   margin-bottom: 10px;
   text-align: center;
}
.section h3{
   text-align: center;
}
.item-cards{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
.item-cards .card-wrap{
   display: flex;
   margin: 40px 10px 0;
}
.item-cards .item-card{
   width: 98%;
   max-width: 390px;
   padding: 4px 12px;
   border: 2px solid gray;
   position: relative;
   margin-left: auto;
   margin-right: auto;
}
.item-cards .item-card > div{
   margin-top: 14px;
   margin-bottom: 14px;
}
.item-cards .item-card .card-line{
   min-height: 22px;
}
.item-cards .item-card .item-name{
   float: left;
}
.item-cards .item-card .item-time{
   float: right;
}
.item-cards .item-card img{
   width: 300px;
   height: 200px;
   margin: 0 auto;
   display: block;
   object-fit: cover;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;
}
.item-cards .item-card img:hover{
   /* width: 320px;
   height: 200px; */
   -webkit-box-shadow: 0px 5px 12px 4px rgba(34, 60, 80, 0.2);
   -moz-box-shadow: 0px 5px 12px 4px rgba(34, 60, 80, 0.2);
   box-shadow: 0px 5px 12px 4px rgba(34, 60, 80, 0.2);
   cursor: pointer;
}
.item-cards .item-card .item-desc{
   padding: 0 20px;
   margin: 0 auto;
   padding-top: 6px;
   padding-bottom: 6px;
}
.item-cards .item-card .item-price{
   position: absolute;
   left: 12px;
   bottom: 12px;
}
.item-card .item-button{
   position: absolute;
   bottom: 20px;
   right: 12px;
}
.item-card .item-button a{
   margin: 0 auto;
   background-color: var(--blue);
   border: none;
   padding: 10px;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   color: var(--light);
   -webkit-transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   transition: all 0.2s ease;
}
.item-card .item-button a:hover{
   color: var(--orange);
   background-color: var(--darkblue);
}
.item-cards .item-name a{
   font-size: 17px;
   color: var(--dark);
}
.item-cards .item-name a:hover{
   color: var(--orange);
}
.item-cards .item-img a{
   cursor: default;
}
.item-cards .item-img a:hover{
   cursor: default;
}
.item-cards .item-card .plus-one{
   display: block;
   font-size: 26px;
   position: absolute;
   right: 110px;
   bottom: 14px;
}
.item-cards .item-card .plus-one p{
   position: absolute;
   animation: fadeInAndOut 0.7s;
   top: -58px;
   left: -32px;
   opacity: 0;
   color: var(--blue);
}

@keyframes fadeInAndOut {
    0%   { opacity: 1; }
    20%   { opacity: 1; }
    100% { opacity: 0; top: -68px;}
}


/* INFO */

.info{
   background-color: var(--light);
}
.info h2{
   margin-bottom: 40px;
}
.info .info-wrap{
   display: flex;
   justify-content: center;
   margin-left: 10px;
   margin-right: 10px;
}
.info .info-left{
   padding-right: 20px;
}
.info .info-left img{
   max-width: 400px;
}
.info ul{
   padding-left: 0;
}
.info li{
   padding-top: 10px;
}
.info li i{
   color: var(--orange);
   margin-right: 6px;
}
.info .info-right{
   padding-left: 20px;
}
.info h4{
   margin-top: 30px;
   margin-bottom: 30px;
   text-align: center;
}
.info .slider-catalog-button{
   text-align: center;
   margin-left: calc(50% - 90px);
}


/* QUESTIONS FORM */

.questions .questions-inside{
   display: flex;
   justify-content: center;
}
.questions .questions-form{
   display: flex;
   justify-content: center;
   min-width: 300px;
   max-width: 600px;
   flex-direction: column;
   -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
   -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
   box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
   padding: 40px;
   background-color: var(--light);
   margin-top: 20px;
}
.questions .questions-form h4{
   margin-top: 4px;
   font-size: 18px;
}
.questions .questions-form .choose-content{
   width: 140px;
   position: relative;
}
.questions .questions-form input, .questions .questions-form textarea{
   border: none;
   background-color: white;
   padding: 8px 10px;
   margin-top: 5px;
   font-size: 16px;
   font-family: 'Roboto', sans-serif;
   border: 2px solid #d3e2f1;
}
.questions .questions-form label{
   padding-left: 2px;
   font-weight: bold;
}
.questions .questions-form .choose-content a{
   display: block;
   color: var(--dark);
   font-size: 18px;
   font-weight: bold;
   padding: 10px 14px;
}
.questions .questions-form .choose-content #chooser{
   display: block;
   background-color: white;
   padding: 4px 10px;
   margin-top: 5px;
   border: 2px solid #d3e2f1;
}
.questions .questions-form .choose-content #chooser:hover{
   background-color: rgb(233, 233, 233);
}
.questions .questions-form .choose-content .choose-row{
   /* display: block; */
   display: none;
   background-color: white;
   width: 140px;
   -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
   -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
   box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
   position: absolute;
   left: 1px;
   bottom: -135px;
   padding-top: 6px;
   padding-bottom: 4px;
}
.questions .questions-form .choose-content .choose-row a:hover{
   background-color: rgb(233, 233, 233);
}
.questions .questions-form .choose-content i{
   color: var(--dark);
   font-size: 18px;
}
.questions .questions-form .choose-content .fa-phone{
   color: blue;
}
.questions .questions-form .choose-content .fa-viber{
   color: #793BAA;
}
.questions .questions-form .choose-content .fa-telegram-plane{
   color: #0084C6;
}
.questions .questions-form .choose-content .fa-at{
   color: #464646;
}
.questions .questions-form .variant{
   display: flex;
   flex-direction: column;
}
.section button{
   width: 140px;
   /* align-self: center; */
   margin: 0 auto;
   background-color: var(--blue);
   border: none;
   padding: 10px;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   color: var(--light);
   -webkit-transition: all 0.2s ease;;
   -moz-transition: all 0.2s ease;;
   -o-transition: all 0.2s ease;;
   transition: all 0.2s ease;
}
.section button:hover{
   color: var(--orange);
   background-color: var(--darkblue);
   cursor: pointer;
}


/* SUCCESS FORM */

.success-form-shadow{
   /* display: flex; */
   display: none;
   position: fixed;
   left: 0;
   top: 0;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   background-color: rgba(17, 17, 17, 0.6);
}
.success-form{
   display: flex;
   flex-direction: column;
   max-width: 400px;
   height: auto;
   background-color: var(--light);
   -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
   -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
   box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
   text-align: center;
   padding: 20px;
   padding-bottom: 40px;

}
.success-form i{
   font-size: 40px;
   color: #464646;
}


/* FOOTER */

.footer{
   background-color: var(--dark);
}
.footer .footer-inside{
   display: flex;
   justify-content: space-evenly;
}
.footer .footer-inside li:nth-child(1) i{
   margin-right: 8px;
}
.footer .footer-inside li:nth-child(2) i{
   margin-right: 12px;
}
.footer .footer-inside li:nth-child(3) i{
   margin-right: 18px;
}
.footer .footer-inside li:nth-child(4) i{
   margin-right: 4px;
}
.footer .footer-inside ul{
   padding:10px;
}
.footer .footer-inside li{
   padding: 2px 0;
}
.footer .footer-inside .footer-left li{
   padding: 5px 0;
}
.footer .footer-inside li a{
   color: var(--light);
}
.footer .footer-inside li a:hover{
   color: var(--orange);
}
.footer .footer-inside .footer-right li a:hover{
   color: var(--light);
}
.footer .footer-copyrights{
   text-align: center;
}
.footer .footer-copyrights p{
   color: var(--light);
   margin: 0;
   padding: 10px 0;
   font-size: 12px;
}
.footer i{
   -webkit-transition: all 0.2s ease;;
   -moz-transition: all 0.2s ease;;
   -o-transition: all 0.2s ease;;
   transition: all 0.2s ease;
}


/* ITEM PAGE */

.item-wrapper{
   background-color: var(--light);
   width: 100%;
   max-width: 100%;
}
.questions{
   background-color: #d3e2f1;
}
.item h4{
   font-size: 20px;
}
.item .big-img img{
   max-width: 100%;
   object-fit: cover;
}
.item .imgs img{
   max-width: 190px;
   margin-bottom: 4px;
   cursor: pointer;
}
.item .img-preview{
   display: flex;
   margin-top: 40px;
   margin-bottom: 40px;
}
.item .imgs{
   display: flex;
   flex-direction: column;
   margin-right: 10px;
}
.item .item-button{
   display: block;
   position: relative;
   bottom: 0;
   right: 0;
}
.item .item-button a{
   position: relative;
}
.item .card-line-bottom{
   position: relative;
}
.item .plus-one{
   display: block;
   font-size: 26px;
   position: absolute;
   left: 134px;
   bottom: -8px;
}
.item .plus-one p{
   position: absolute;
   animation: fadeInAndOut 0.7s;
   top: -58px;
   left: -32px;
   opacity: 0;
   color: var(--blue);
}


/* CART PAGE */

.cart-table{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.cart-out img{
   max-width: 100px;
}
.cart-out tr td{
   min-width: 100px;
   padding: 4px 14px;
}
.cart-out button{
   max-width: 40px;
   margin-left: auto;
   margin-right: auto;
}
.cart-out .cart-buttons{
   min-width: 30px;
}
.questions-form.cart{
   margin-left: auto;
   margin-right: auto;
   max-width: 400px;
}












/* Media stuff */

@media screen and (max-width:400px){
   .questions .questions-form{
      min-width: 260px;
      padding: 20px;
   }
}
@media screen and (max-width:520px){
   .navbar .mobile-menu-button{
      display: block;
      position: absolute;
      left: 12px;
      top: 0;
   }
   .navbar .cart-link{
      display: block;
      position: absolute;
      right: 4px;
      top: 0;
   }
   .navbar .nav-left{
      display: none;
   }
   .navbar .nav-inside{
      position: relative;
      height: 24px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
   }
   .navbar .desktop-menu-link{
      display: none;
   }
   .info .info-left img{
      width: 95%;
   }

   /* menu-opened */

   .navbar .nav-inside.opened{
      position: relative;
      height: 150px;
      align-items: flex-start;
   }
   .navbar .nav-left.opened{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 40px;
      left: 10px;
   }
   .navbar .nav-left.opened .opened-show{
      display: flex;
      padding-top: 10px;
      font-size: 18px;
   }
}

@media screen and (max-width:670px){
   /* надо другую картинку */
}

@media screen and (max-width:770px){
   .slider h1{
      font-size: 22px;
   }
   .slider h4{
      font-size: 14px;
   }
   .slider-catalog-button{
      padding: 10px 14px;
   }
   .info .info-wrap{
      flex-wrap: wrap;
      padding-bottom: 20px;
   }
   .info li{
      padding-left: 20%;
   }
   .info .info-left{
      padding: 10px 0;
   }
   .info .info-right{
      padding: 10px 0;
   }
   .info a{
      margin-bottom: 20px;
   }
}
@media screen and (min-width:370px) and (max-width:769px){
   .item-cards{
      flex-wrap: wrap;
   }
   .item-cards .card-wrap{
      width: 95%;
   }
   
}
@media screen and (min-width:1200px){
   .nav-inside{
      max-width: 80%;
   }
   .item{
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
   }
   .item .imgs img{
      max-width: 144px;
      margin-bottom: 4px;
   }
   .cart-wrapper{
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
   }
}
@media screen and (min-width:370px) and (max-width:500px){
   .item-cards .item-card{
      min-width: 90%;
   }
}
@media screen and (min-width:501px) and (max-width:769px){
   .item-cards .item-card{
      min-width: 400px;
   }
}
@media screen and (min-width:770px) and (max-width:1399px){
   .item-cards .card-wrap{
      width: 48%;
      padding: 0;
      margin: 20px 0;
   }
   .item-cards .item-card{
      margin-left: auto;
      margin-right: auto;
      width: 99%;
   }
   .item-cards.cards-catalog{
      justify-content: flex-start;
      margin-left: auto;
      margin-right: auto;
   }
   .item-cards.cards-catalog .card-wrap{
      flex-basis: 50%;
      margin-left: 0;
      margin-right: 0;
   }
   .item-cards.cards-catalog .item-card{
      margin-left: auto;
      margin-right: auto;
      width: 88%;
   }
}
@media screen and (min-width:970px) and (max-width:1399px){
   .item-cards .card-wrap{
      width: 40%;
   }
   .item-cards.cards-catalog{
      width: 80%;
   }
}
@media screen and (min-width:1150px) and (max-width:1399px){
   .item-cards{
      justify-content: center;
   }
}
@media screen and (min-width:1400px){
   .item-cards{
      flex-wrap: nowrap;
   }
   .item-cards .card-wrap{
      flex-basis: 24%;
   }
   .item-cards.cards-catalog{
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-left: auto;
      margin-right: auto;
   }
   .item-cards.cards-catalog .card-wrap{
      flex-basis: 25%;
      margin-left: 0;
      margin-right: 0;
   }
   .item-cards.cards-catalog .item-card{
      width: 88%;
   }
   .item{
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
   }
   .item .big-img img{
      height: auto;
   }
   .item .imgs img{
      max-width: 194px;
      max-height: 122px;
      margin-bottom: 4px;
   }
   .cart-wrapper{
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
   }
}
@media screen and (min-width:1600px){
   .nav-inside{
      max-width: 75%;
   }
}
